.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
*.ipr
*.iws
*.bak
*.log
*.launch
.gradle/
.cache/
bin/
out/
run/
runs/

/build/
/versions/*/build/
/common/versions/
/fabric/versions/
/forge/versions/
/neoforge/versions/
/src/main/generated/

.runclient-*/
.screens/
